<figure class="uk-overlay uk-overlay-hover"  data-uk-scrollspy="{cls:'uk-animation-slide-right', repeat: true, delay: 200}">
  <img class="uk-overlay-scale lazy" data-original="<%= figure.srcBase?figure.srcBase:'' %><%= figure.src %>" alt="<%= figure.nombre %>" width="640" height="480">
  <figcaption class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center uk-overlay-fade uk-overlay-background">
    <%= figure.nombre %>
  </figcaption>
  <a class="uk-position-cover" href="<%= figure.href %>"></a>
</figure>
