{% extends '::base.html.twig' %}

{% block body -%}
    <div class="uk-width-9-10 uk-container-center">
        <h1>Tipo</h1>
        <div class="uk-overflow-container">
            <table class="uk-table uk-table-hover uk-table-striped uk-table-middle">
                <tbody>
                    <tr>
                        <th>Id</th>
                        <td>{{ entity.id }}</td>
                    </tr>
                    <tr>
                        <th>Nombre</th>
                        <td>{{ entity.nombre }}</td>
                    </tr>
                    <tr>
                        <th>Slug</th>
                        <td>{{ entity.slug }}</td>
                    </tr>
                    <tr>
                        <th>Dominio</th>
                        <td>{{ entity.dominio }}</td>
                    </tr>
                    <tr>
                        <th>Descripcion</th>
                        <td>{{ entity.descripcion }}</td>
                    </tr>
                    <tr>
                        <th>Createdat</th>
                        <td>{{ entity.createdat|date('Y-m-d H:i:s') }}</td>
                    </tr>
                    <tr>
                        <th>Updatedat</th>
                        <td>{{ entity.updatedat|date('Y-m-d H:i:s') }}</td>
                    </tr>
                </tbody>
                <tfoot>
                <tr>
                    <td colspan="2">
                        <div class="uk-button-group uk-margin">
                            <a href="{{ path('tipo') }}" class="uk-button uk-button-large">
                                Volver a la lista
                            </a>
                            <a href="{{ path('tipo_edit', {'id': entity.id}) }}" class="uk-button uk-button-large">
                                Editar
                            </a>
                            {{ form(delete_form) }}
                        </div>
                    </td>
                </tr>
                </tfoot>
            </table>
        </div>
    </div>
{% endblock %}
