

<!--
FullCotent homepage - with includes

<nav id="soluciones-cucuta-navbar" class="uk-navbar uk-flex uk-flex-middle uk-flex-center">
  <div class="uk-navbar-brand uk-width-small-1-1 uk-width-medium-1-6" data-uk-dropdown="{mode:'click',justify:'#soluciones-cucuta-navbar'}">
    <a href="" class="uk-navbar-brand">
      <img src="<%= brand.src %>" alt="<%= brand.nombre %>">
    </a>

    <div class="uk-dropdown uk-dropdown-small uk-dropdown-width-3">
      <ul class="uk-nav uk-nav-dropdown uk-grid uk-dropdown-grid">
        <% _.each(brand.subnavs, function(subnav){ %>
        <li class="uk-width-1-3">
          <a href="<%= subnav.href %>">
            <%=: __(subnav.nombre)|capitalize %>
          </a>
        </li>
        <% }) %>
      </ul>
    </div>
  </div>
  <div class="uk-navbar-flip uk-width-small-1-1 uk-width-medium-5-6">
    <ul class="uk-navbar-nav uk-width-small-1-1 uk-text-center">
      <% _.each(navs, function(nav, i){ %>
      <% if (nav.li){ %>
      <li class="uk-button-group uk-width-small-1-5 uk-width-medium-1-5">
        <% if (nav.href && nav.nombre){ %>
        <button href="<%= nav.href %>" data-url="<%= nav.href %>" class="uk-button uk-button-link"><%=: __(nav.nombre)|capitalize %></button>
        <% } %>
        <% if (nav.subnavs){ %>
        <div data-uk-dropdown="{mode:'click',justify:'#soluciones-cucuta-navbar'}">

          <a href="" class="<%= nav.src?'uk-navbar-brand':'uk-button uk-button-link' %>">
            <% if (nav.src && nav.nombre){ %>
            <img src="<%= nav.src %>" alt="<%= nav.nombre %>">
            <% }else{ %>
            <i class="fa fa-chevron-down"></i>
            <% } %>
          </a>

          <div class="uk-dropdown uk-dropdown-small uk-dropdown-width-3">
            <ul class="uk-nav uk-nav-dropdown uk-grid uk-dropdown-grid">
              <% _.each(nav.subnavs, function(subnav){ %>
              <li class="uk-width-1-3">
                <a href="<%= subnav.href %>">
                  <%=: __(subnav.nombre)|capitalize %>
                </a>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
        <% } %>

      </li>
      <% }else{ %>
      <div class="uk-navbar-brand uk-width-small-1-1 uk-width-medium-1-6" data-uk-dropdown="{mode:'click'}">
        <% if (nav.href && nav.nombre){ %>
        <button href="<%= nav.href %>" data-url="<%= nav.href %>" class="uk-button uk-button-link"><%=: __(nav.nombre)|capitalize %></button>
        <% } %>
        <% if (nav.subnavs){ %>
        <div data-uk-dropdown="{mode:'click',justify:'#soluciones-cucuta-navbar'}">

          <a href="" class="<%= nav.src?'uk-navbar-brand':'uk-button uk-button-link' %>">
            <% if (nav.src && nav.nombre){ %>
            <img src="<%= nav.src %>" alt="<%= nav.nombre %>">
            <% }else{ %>
            <i class="fa fa-chevron-down"></i>
            <% } %>
          </a>

          <div class="uk-dropdown uk-dropdown-small uk-dropdown-width-3">
            <ul class="uk-nav uk-nav-dropdown uk-grid uk-dropdown-grid">
              <% _.each(nav.subnavs, function(subnav){ %>
              <li class="uk-width-1-3">
                <a href="<%= subnav.href %>">
                  <%=: __(subnav.nombre)|capitalize %>
                </a>
              </li>
              <% }) %>
            </ul>
          </div>
        </div>
        <% } %>

      </div>
      <% } %>
      <% }) %>

      <li class="uk-width-small-1-5 uk-width-medium-1-5">
        <form action="/Buscar" class="uk-form uk-margin-remove uk-display-inline-block uk-width-small-1-1">
          <div class="uk-grid uk-grid-collapse">
            <div class="uk-width-1-2">
              <input name="query" type="text" placeholder="<%= __('buscar') %>">
            </div>
            <div class="uk-width-1-2">
              <button type="submit" class="uk-button uk-button-primary"><%= __('buscar') %></button>
            </div>
            <input type='hidden' name='_csrf' value='<%= _csrf %>'>
          </div>
        </form>
      </li>
    </ul>
  </div>
</nav>


<div id="#inicio" class="header uk-slidenav-position" data-uk-slideshow="{animation: 'random-fx'}">
  <ul class="uk-slideshow uk-overlay-active">
    <% _.each(banners, function(banner){ %>
    <li>
      <img src="<%= banner.srcBase %><%= banner.src %>" alt="<%= banner.nombre %>">
      <div class="uk-overlay-panel uk-overlay-background uk-overlay-right uk-overlay-slide-right uk-width-1-4">
        <h3><%= banner.nombre %></h3>
        <p>
          <%= banner.descripcion %>
        </p>
        <button href="<%= banner.href %>" class="uk-button uk-button-primary"><%= __('conocer más') %></button>

      </div>
    </li>

    <% }) %>
  </ul>
  <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
  <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
  <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-text-center uk-flex uk-flex-center uk-flex-medium">
    <% _.each(banners, function(banner, i){ %>
    <li data-uk-slideshow-item="<%= i %>"><a href=""></a></li>
    <% }) %>
  </ul>
</div>


<div class="content uk-grid">
  <div class="uk-container-center uk-width-small-5-6 uk-width-medium-7-8 uk-width-large-9-10 uk-width-xlarge-11-12">
    <div class="uk-grid">
      <div class="uk-grid uk-width-small-4-6 uk-width-medium-6-8 uk-width-large-8-10 uk-width-xlarge-10-12">
        <% _.each(articles, function(article){ %>
        <article class="uk-article <% article.fullwidth?'uk-width-1-1':'' %>"
        <% _.each(article.attrs, function(attr){ %>
        <%= attr.name %><%= '=' %>"<%= attr.value %>"
        <% }) %>>
        <h1 class="uk-article-title" data-uk-sticky="{boundary: true, top:70, animation: 'uk-animation-slide-top'}">
          <%= article.title %>
        </h1>
        <p class="uk-article-meta">
          <% _.each(article.metas, function(meta){ %>
          <%=: __(meta.name)|capitalize %> <%= meta.value %>"
          <% }) %>
        </p>
        <% if (article.subtitle){ %>
        <p class="uk-article-lead">
          <%= article.subtitle %>
        </p>
        <% } %>
        <% _.each(article.content, function(content){ %>
        <p>
          <%= content %>
        </p>
        <% }) %>
        <% if (article.footer){ %>
        <hr class="uk-article-divider">
        <p class="uk-article-foot">
          <%= article.footer %>
        </p>
        <% } %>

        </article>


        <% }) %>
      </div>
      <div class="uk-publicity uk-width-small-2-6 uk-width-medium-2-8 uk-width-large-2-10 uk-width-xlarge-2-12">
        <% _.each(figures, function(figure){ %>
        <figure class="uk-overlay uk-overlay-hover"  data-uk-scrollspy="{cls:'uk-animation-slide-right', repeat: true, delay: 200}">
          <img class="uk-overlay-scale lazy" src="<%= figure.srcBase?figure.srcBase:'' %><%= figure.src %>" alt="<%= figure.nombre %>" width="640" height="480">
          <figcaption class="uk-overlay-panel uk-flex uk-flex-center uk-flex-middle uk-text-center uk-overlay-fade uk-overlay-background">
            <%= figure.nombre %>
          </figcaption>
          <a class="uk-position-cover" href="<%= figure.href %>"></a>
        </figure>

        <% }) %>
      </div>
    </div>
  </div>
</div>


<div class="footer uk-grid">
  <% _.each(footers, function(list){ %>
  <div class="uk-width-small-1-4">
    <li class="uk-nav-header">
      <a href="<%= list.href %>">
        <%=: __(list.nombre)|capitalize %>
        <% if (list.subtitle){ %>
        <div><%= list.subtitle %></div>
        <% } %>
      </a>
    </li>
    <ul data-uk-nav="" class="uk-nav uk-nav-side">
      <% _.each(list.subnavs, function(item){ %>
      <li>
        <a href="<%= item.href %>">
          <%= item.nombre %>
          <% if (item.subtitle){ %>
          <div><%= item.subtitle %></div>
          <% } %>
        </a>
      </li>
      <% }) %>
    </ul>

  </div>
  <% }); %>
</div>-->
