{% extends "AppBundle:Page:index.html.twig" %}

{% block body %}
    <div id="header">
        <div class="uk-slidenav-position uk-width"  data-uk-slideshow="{animation: 'random-fx'}">
            <ul class="uk-slideshow">
                {% for bs in bannersSuperiores %}
                    <li class="uk-overlay-hover">
                        <img class="uk-overlay-spin" src="{{ asset(bs.getWebPath) }}" alt="{{ bs.nombre }}">
                        <div class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                            <h3>{{ bs.usuario.nombre }}</h3>
                            <p>{{ bs.descripcion?bs.descripcion:bs.usuario.descripcion }}</p>
                            <a class="uk-position-cover" href="{{ path('cliente',{slug: bs.usuario.slug}) }}" data-id="{{ bs.getHash }}"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% if bannersSuperiores|length > 1 %}
                <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
                <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom-right uk-flex-center">
                    {% for i,bs in bannersSuperiores %}
                        <li data-uk-slideshow-item="{{ i }}"><a href=""></a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div id="cliente-item" class="uk-grid uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        <div class="uk-width-1-1 uk-grid">
            <div class="content-submenu {% if infografia is null %}uk-width-1-1{% else %}uk-width-1-2{% endif %}">
                {% if slug != 'empresas' and clientes | length <= 0 %}
                    <form id="registroUsuario" name="registro" action="{{ url('registrarUsuario') }}" class="uk-form">
                        <div class="">
                            <label class="uk-form-label" for="">Quieres ser el primero?</label>
                            <div class="uk-form-icon">
                                <i class="uk-icon-envelope-o"></i>
                                <input name=email type="email" placeholder="Escribe tu Email" class="uk-form-large" />
                            </div>
                            <button type="submit" class="uk-button uk-button-primary uk-button-large uk-margin-left">Sí quiero!!</button>
                        </div>
                    </form>
                {% endif %}
                {% if submenus %}
                    <h3>Búsca en el sector que necesitas</h3>
                    <div class="uk-accordion" data-uk-accordion="{showfirst: false}">
                        {% for i,submenu in submenus %}
                            <h3 class="uk-accordion-title">
                                {{  submenu.nombre }}
                            </h3>
                            <div class="uk-accordion-content">
                                <a href="{{ path('clientes_hijo',{'slughijo': submenu.slug, 'slugpadre': submenu.padre.slug}) }}">
                                    ir a {{  submenu.nombre }}
                                </a>
                                <p>
                                    {{ submenu.descripcion }}
                                </p>
                                {% if submenu.hijos | length > 0 %}
                                    {#<div class="uk-button-group">#}
                                        {% for i,hijo in submenu.hijos %}
                                            <a href="{{ path('clientes_hijo',{'slugpadre': submenu.slug,'slughijo': hijo.slug}) }}" class="uk-button uk-button-large">
                                                {{  hijo.nombre }}
                                            </a>
                                        {% endfor %}
                                    {#</div>#}
                                {% endif %}
                            </div>
                        {% endfor %}
                    </div>
                {% endif %}
            </div>
            <div class="uk-width-1-2 {% if infografia is null %}uk-hidden{% endif %}">
                {% if infografia %}
                    <img class="uk-border-rounded" src="{{ asset(infografia.getWebPath) }}" alt="{{ infografia.nombre }}" data-slug="{{ infografia.slug }}" data-id="{{ infografia.getHash }}">
                {% endif %}
            </div>
            {% for i,cliente in clientes %}
                <div class="uk-grid uk-width-small-1-1 uk-width-medium-1-2" data-uk-grid-margin="">
                    <div class="uk-width-medium-1-2 {% if i is odd %}uk-visible-small{% endif %}">
                        <a href="{{ path('cliente',{slug: cliente.slug}) }}">
                            <h1>{{ cliente.nombre }}</h1>
                        </a>
                        <h2>{{ cliente.email }}</h2>
                        <p>
                            {{ cliente.descripcion }}
                        </p>
                    </div>
                    <div class="uk-text-center uk-width-medium-1-2">
                        {% if cliente.getBannersLaterales|length %}
                            {% if cliente.getBannersLaterales|length == 1 %}
                                {% set archivo = cliente.getBannersLaterales|first %}
                                <a href="{{ path('cliente',{slug: cliente.slug}) }}" data-id="{{ infografia.getHash }}">
                                    <img class="uk-border-rounded" src="{{ asset(archivo.getWebPath) }}" alt="{{ archivo.nombre }}" data-slug="{{ archivo.slug }}" data-id="{{ archivo.getHash }}">
                                </a>
                            {% else %}
                                <div class="uk-slidenav-position" uk-width data-uk-slideshow="{animation: 'random-fx'}">
                                    <ul class="uk-slideshow">
                                        {% for archivo in cliente.getBannersLaterales %}
                                            <li class="uk-overlay">
                                                <img class="uk-overlay-spin" src="{{ asset(archivo.getWebPath) }}" alt="{{ archivo.nombre }}" data-slug="{{ archivo.slug }}" data-id="{{ archivo.getHash }}">
                                                <div class="uk-overlay-panel uk-overlay-background uk-overlay-top uk-ignore">
                                                    <h3>{{ archivo.nombre }}</h3>
                                                    <p>{{ archivo.descripcion }}</p>
                                                </div>
                                            </li>
                                        {% endfor %}
                                    </ul>
                                    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                                    <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
                                    <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                                        {% for i,archivo in cliente.getBannersLaterales %}
                                            <li data-uk-slideshow-item="{{ i }}"><a href=""></a></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% endif %}
                        {% endif %}
                    </div>

                    {% if i is odd %}
                        <div class="uk-width-medium-1-2 uk-hidden-small">
                            <a href="{{ path('cliente',{slug: cliente.slug}) }}">
                                <h1>{{ cliente.nombre }}</h1>
                            </a>
                            <h2>{{ cliente.email }}</h2>
                            <p>
                                {{ cliente.descripcion }}
                            </p>
                        </div>
                    {% endif %}

                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div class="uk-grid" data-uk-grid-margin="">
        <div class="uk-width-medium-1-1">
            <div class="uk-panel uk-panel-box uk-text-center">
                <form id="registroUsuario" name="registro" action="{{ url('registrarUsuario') }}" class="uk-form">
                    <div class="uk-form-row">
                        <label class="uk-form-label" for="">Deseas ser parte de la solución?</label>
                        <div class="uk-form-icon">
                            <i class="uk-icon-envelope-o"></i>
                            <input name=email type="email" placeholder="Escribe tu Email" class="uk-form-large" />
                        </div>
                        <button type="submit" class="uk-button uk-button-primary uk-button-large uk-margin-left">Saber más</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
{% endblock %}
