{% extends "::base_index.html.twig" %}

{% block title %}Soluciones Cúcuta{% endblock %}

{% block stylesheets %}
    {{ parent() }}
    {% stylesheets
    'bundles/app/css/index.css'
    output='css/compiled/main_index.css' filter='?uglifycss' filter='cssrewrite' %}
    <link rel="stylesheet" href="{{ asset_url }}" />
    {% endstylesheets %}
{% endblock %}

{% block javascripts %}
    {{ parent() }}
    <script type="application/javascript">
        urlSuma = '{{ url('suma_print_click',{event:'evento',id: 'id'}) }}'
    </script>
    {% javascripts
    '@AppBundle/Resources/public/js/index.js'
    output='js/compiled/main__index.js' filter='?uglifyjs2' %}
    <script src="{{ asset_url }}"></script>
    {% endjavascripts %}
{% endblock %}

{% block header %}
    <nav class="uk-navbar" data-uk-sticky="{top: -80}">
        <div class="uk-container uk-container-center uk-height-1-1">
            <a class="uk-navbar-brand uk-hidden-small" href="{{ path('homepage') }}">
                {% image '@AppBundle/Resources/public/images/logo.png' %}
                <img src="{{ asset_url }}" class="uk-responsive-height" alt="Soluciones Cúcuta">
                {% endimage %}
            </a>
            <div class="uk-navbar-flip uk-height-1-1">
                <ul id="justify-menu" class="uk-navbar-nav uk-hidden-small uk-height-1-1">
                    {% for menu in menus %}
                        <li class="uk-height-1-1 uk-vertical-align uk-parent" data-uk-dropdown="{justify:'#justify-menu'}">
                            <a class="uk-vertical-align-middle" href="{{ path('clientes',{slug: menu.slug}) }}">
                                {{ menu.nombre|capitalize }}
                            </a>

                            <div class="uk-dropdown-navbar uk-dropdown uk-dropdown-width-3">
                                <ul class="uk-nav uk-nav-navbar uk-grid uk-dropdown-grid">
                                    {% for submenu in menu.hijos %}
                                        <li class="uk-width-1-3">
                                            <a href="{{ path('clientes_hijo',{slugpadre: menu.slug,slughijo: submenu.slug}) }}">{{ submenu.nombre|capitalize }}</a>
                                        </li>
                                    {%  endfor %}
                                </ul>
                            </div>

                            {#<div class="uk-dropdown uk-dropdown-navbar">
                                <ul class="uk-nav uk-nav-navbar">
                                    {% for submenu in menu.hijos %}
                                    <li>
                                        <a href="{{ path('clientes_hijo',{slugpadre: menu.slug,slughijo: submenu.slug}) }}">{{ submenu.nombre|capitalize }}</a>
                                    </li>
                                    {%  endfor %}
                                </ul>
                            </div>#}
                        </li>
                    {%  endfor %}
                    <li class="uk-height-1-1 uk-vertical-align">
                        <form action="{{ path('search') }}" class="uk-search" data-uk-search="{msgResultsHeader: 'Resultados',msgMoreResults: 'Más Resultados',flipDropdown:true, source:'{{ path('search') }}'}">
                            <input class="uk-search-field" type="search" placeholder="que busca?" autocomplete="off">
                            <div class="uk-dropdown uk-dropdown-flip uk-dropdown-search" aria-expanded="false"></div>
                        </form>
                    </li>
                </ul>
            </div>
            <a href="#offcanvas" class="uk-navbar-toggle uk-visible-small" data-uk-offcanvas=""></a>
            <div class="uk-navbar-brand uk-navbar-center uk-visible-small">
                {% image '@AppBundle/Resources/public/images/logo.png' %}
                <img src="{{ asset_url }}" class="uk-responsive-height" alt="Soluciones Cúcuta">
                {% endimage %}
            </div>
        </div>
    </nav>
    <div id="offcanvas" class="uk-offcanvas">
        <div class="uk-offcanvas-bar">
            <form class="uk-search" data-uk-search="{msgResultsHeader: 'Resultados de la Búsqueda',msgMoreResults: 'Más Resultados',flipDropdown:true, source:'{{ path('search') }}'}">
                <input class="uk-search-field" type="search" placeholder="que busca?" autocomplete="off">
                <div class="uk-dropdown uk-dropdown-search" aria-expanded="false"></div>
            </form>
            <ul class="uk-nav uk-nav-offcanvas uk-nav-parent-icon" data-uk-nav>
                {% for menu in menus %}
                    <li class="uk-parent">
                        <a href="#">
                            {{ menu.nombre|capitalize }}
                        </a>
                        <div>
                            <ul class="uk-nav-sub">
                                <li>
                                    <a href="{{ path('clientes',{slug: menu.slug}) }}">
                                        Todos
                                    </a>
                                </li>
                                {% for submenu in menu.hijos %}
                                    <li>
                                        <a href="{{ path('clientes_hijo',{slugpadre: menu.slug,slughijo: submenu.slug}) }}">{{ submenu.nombre|capitalize }}</a>
                                    </li>
                                {%  endfor %}
                            </ul>
                        </div>
                    </li>
                {%  endfor %}
            </ul>
        </div>
    </div>
{% endblock %}

{% block body %}
    <div id="header">
        <div class="uk-slidenav-position uk-width"  data-uk-slideshow="{animation: 'random-fx'}">
            <ul class="uk-slideshow">
                {% for bs in bannersSuperiores %}
                    <li class="uk-overlay-hover">
                        <img class="uk-overlay-spin" src="{{ asset(bs.getWebPath) }}" data-slug="{{ bs.usuario.slug }}" data-id="{{ bs.getHash }}" alt="{{ bs.nombre }}" data-uk-check-display>
                        {% set redesSociales = bs.usuario.getRedesSociales %}
                        {% if redesSociales|length > 0 %}
                            <div class="redes-sociales uk-width-1-2">
                                {% for i,rs in redesSociales %}
                                    {% if rs.link %}
                                        <a href="{{ rs.link }}" class="uk-width-1-{{ rs|length }}" data-id="{{ rs.getHash }}">
                                    {% endif %}
                                        <img src="{{ asset(rs.getWebPath) }}" data-slug="{{ rs.usuario.slug }}" data-id="{{ rs.getHash }}" class="uk-responsive-height" alt="{{ rs.nombre }}" data-uk-check-display>
                                    {% if rs.link %}
                                        </a>
                                    {% endif %}
                                {% endfor %}
                                {#<a href="">
                                    {% image '@AppBundle/Resources/public/images/fb.png' %}
                                    <img src="{{ asset_url }}" class="uk-responsive-height" alt="Facebook Soluciones Cúcuta">
                                    {% endimage %}
                                </a>
                                <a href="">
                                    {% image '@AppBundle/Resources/public/images/twtr.png' %}
                                    <img src="{{ asset_url }}" class="uk-responsive-height" alt="Twitter Soluciones Cúcuta">
                                    {% endimage %}
                                </a>
                                <a href="">
                                    {% image '@AppBundle/Resources/public/images/itgr.png' %}
                                    <img src="{{ asset_url }}" class="uk-responsive-height" alt="Instagram Soluciones Cúcuta">
                                    {% endimage %}
                                </a>
                                <a href="">
                                    {% image '@AppBundle/Resources/public/images/yt.png' %}
                                    <img src="{{ asset_url }}" class="uk-responsive-height" alt="Youtube Soluciones Cúcuta">
                                    {% endimage %}
                                </a>#}
                            </div>
                        {% endif %}
                        <div data-slug="{{ bs.usuario.slug }}" class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom">
                            <h3>{{ bs.usuario.nombre }}</h3>
                            <p>{{ bs.descripcion?bs.descripcion:bs.usuario.descripcion }}</p>
                            <a class="uk-position-cover" href="{{ path('cliente',{slug: bs.usuario.slug}) }}" data-id="{{ bs.getHash }}"></a>
                        </div>
                    </li>
                {% endfor %}
            </ul>
            {% if bannersSuperiores|length > 1 %}
                <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
                <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom-right uk-flex-center">
                    {% for i,bs in bannersSuperiores %}
                        <li data-uk-slideshow-item="{{ i }}"><a href=""></a></li>
                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
    <div class="uk-width-7-10 uk-container-center">
        <iframe data-uk-cover src="https://www.youtube.com/embed/OUCqpG2nCzA" frameborder="0" allowfullscreen></iframe>
    </div>
    <div class="uk-container uk-container-center uk-margin-top-remove uk-margin-large-bottom">
        {% for i,publicacion in publicaciones %}
            {% if not loop.first %}
                <hr class="uk-grid-divider">
            {% endif %}
            <div class="uk-grid" data-uk-grid-margin="">
                {% if i is even %}
                    <div class="uk-width-medium-1-2">
                        <h1>{{ publicacion.titulo }}</h1>
                        <h2>{{ publicacion.subtitulo }}</h2>
                        <p>
                            {{ publicacion.contenido }}
                        </p>
                    </div>
                {% endif %}
                <div class="uk-width-medium-1-2">
                    {% if publicacion.archivos|length %}
                        {% if publicacion.archivos|length == 1 %}
                            {% set archivo = publicacion.archivos | first %}
                            <img src="{{ asset(archivo.getWebPath) }}" data-slug="{{ archivo.usuario?archivo.usuario.slug:archivo.slug }}" data-id="{{ archivo.getHash }}" alt="{{ archivo.nombre }}" data-uk-check-display>
                        {% else %}
                            <div class="uk-slidenav-position" uk-width data-uk-slideshow="{animation: 'random-fx'}">
                                <ul class="uk-slideshow">
                                    {% for archivo in publicacion.archivos %}
                                        <li class="uk-overlay">
                                            <img class="uk-overlay-spin" src="{{ asset(archivo.getWebPath) }}" data-slug="{{ archivo.usuario.slug }}" data-id="{{ archivo.getHash }}" alt="{{ archivo.nombre }}" data-uk-check-display>
                                            <div class="uk-overlay-panel uk-overlay-background uk-overlay-top uk-ignore">
                                                <h3>{{ archivo.nombre }}</h3>
                                                <p>{{ archivo.descripcion }}</p>
                                            </div>
                                        </li>
                                    {% endfor %}
                                </ul>
                                <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-previous" data-uk-slideshow-item="previous"></a>
                                <a href="" class="uk-slidenav uk-slidenav-contrast uk-slidenav-next" data-uk-slideshow-item="next"></a>
                                <ul class="uk-dotnav uk-dotnav-contrast uk-position-bottom uk-flex-center">
                                    {% for i,archivo in publicacion.archivos %}
                                        <li data-uk-slideshow-item="{{ i }}"><a href=""></a></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% endif %}
                    {% endif %}
                </div>
                {% if i is odd %}
                    <div class="uk-width-medium-1-2">
                        <h1>{{ publicacion.titulo }}</h1>
                        <h2>{{ publicacion.subtitulo }}</h2>
                        <p>
                            {{ publicacion.contenido }}
                        </p>
                    </div>
                {% endif %}
            </div>

        {% endfor %}

        <div class="uk-grid" data-uk-grid-margin="">
            <div class="uk-width-medium-1-1">
                <div class="uk-panel uk-panel-box uk-text-center">
                    <form id="registroUsuario" name="registro" action="{{ url('registrarUsuario') }}" class="uk-form">
                        <div class="uk-form-row">
                            <label class="uk-form-label" for="">Deseas conocer más?</label>
                            <div class="uk-form-icon">
                                <i class="uk-icon-envelope-o"></i>
                                <input name=email type="email" placeholder="Escribe tu Email" class="uk-form-large" />
                            </div>
                            <button type="submit" class="uk-button uk-button-primary uk-button-large uk-margin-left">Saber más</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock %}

{% block footer %}
    <div id="header">
    </div>
    <div class="uk-container uk-container-center uk-margin-top uk-margin-large-bottom">
        <h1 class="uk-text-center">Nuestros Clientes</h1>

        <div data-uk-slideset="{small: 2, medium: 4, large: 6, animation: 'scale', duration: 200}">
            <div class="uk-slidenav-position">
                <ul class="uk-slideset uk-grid uk-flex-center">
                    {% for cliente in clientes %}
                        <li>
                            <figure class="uk-overlay uk-overlay-hover">
                                {% set bl = cliente.getBannerLateral %}
                                <img class="uk-overlay-spin " src="{{ asset(bl?bl.getWebPath:'#') }}" data-slug="{{ bl?bl.usuario.slug:cliente.slug }}" data-id="{{ bl?bl.getHash:'#' }}" alt="{{ cliente.nombre }}">
                                <figcaption class="uk-overlay-panel uk-overlay-background uk-overlay-bottom uk-overlay-slide-bottom uk-text-center">
                                    <div>{{ cliente.descripcion }}</div>
                                </figcaption>
                                <a class="uk-position-cover" href="{{ path('cliente',{slug: cliente.slug}) }}" data-id="{{ bl?bl.getHash:'#' }}"></a>
                            </figure>
                        </li>
                    {% endfor %}
                </ul>
                <a href="" class="uk-slidenav uk-slidenav-previous" data-uk-slideset-item="previous"></a>
                <a href="" class="uk-slidenav uk-slidenav-next" data-uk-slideset-item="next"></a>
            </div>
            <ul class="uk-slideset-nav uk-dotnav uk-flex-center">

            </ul>
        </div>
    </div>
{% endblock %}
