<li>
  <img src="<%= banner.srcBase %><%= banner.src %>" alt="<%= banner.nombre %>">
  <div class="uk-overlay-panel uk-overlay-background uk-overlay-right uk-overlay-slide-right uk-width-1-4">
    <h3><%= banner.nombre %></h3>
    <p>
      <%= banner.descripcion %>
    </p>
    <button href="<%= banner.href %>" class="uk-button uk-button-primary"><%= __('conocer más') %></button>

  </div>
</li>
